table.zapis {
    width: 243px;
    font-size: 9px;
}

table.zapis td.gracz {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
}

table.zapis th, table.zapis td {
    padding: 6px 2px;
}

div#board   {
    margin: 5px;
    text-align: center;
    border-spacing:0px;
}

div#board div.tile    {
    width: 26.6px;
    height: 26.6px;
    line-height: 25px;
    background:#3C8571;
    border: 1px solid #23574B;
    float:left;
}

div#board div.boardrow {
    clear: both;
}

div#board div.header div.tile {
    background:#23574B;
    color:white;
    font-size: 9px;
}

div#board div.header.tile {
    background:#23574B;
    color:white;
    font-size: 9px;
}

div#board div.tile.blank {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.6);}
}

div#board div.boardrow div:first-child {
    background:#23574B;
}

div#board div.boardrow div:last-child {
    background:#23574B;
}

div#board div.boardrow div.tile div.points {
    height: 8px;
    width: 8px;
    position:relative;
    left: 17px;
    bottom: 7px;
    font-size: 6px;
    text-align: center;
    text-decoration:none;
    line-height: 9px;
    background: #fcfac4;

}

div#board div.word3    {
    background: #DB3920;
}

div#board div.word2   {
    background: #EFA284;
}

div#board div.letter3 {
    background: #4194E0;
}

div#board div.letter2 {
    background: #79B6E5;
}
div#board div.letter {
    background: #fcfac4;
}


.bottomSpan {
    bottom: 0;
    right: 0;
    position: relative;
    right: 0;
    font-size: 6px;
}

div#gcg {
    font-family: monospace;
}

span.blank {
    color: red;
}

#worek {
    text-align: left;
    margin: 0 10px 20px 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}